form {
    width: 520px;
    height: 300px;
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 10px;
    margin: 50px 650px;
    margin-bottom: 10px;
    padding: 20px;
    
}

body {
    background-color: burlywood;
}

#login {
    margin-bottom: 20px;
}

#pass {
    margin-bottom: 5px;
}

.but {
    margin-top: 20px;
    text-align: center;
}

.signin h4 {
    color: blue;
}



form div {
    margin: 10px;
}

#forma {
    display: flex;

}

.signin {
    display: flex;
    align-self: start;
    width: 35%;
}

.middle {
    width: 2%;
}

.signup {
    display: flex;
    /* align-self:auto; */
    width: auto;
    margin-left: 50px;
}

.signup h4 {
    color: blue;
}