div {
    color: blueviolet;
}

.hello {
    color: black;
}

.pop {
    color: aquamarine;
}

.fontcolor {
    background-color: greenyellow;
}

#FirstID {
    background-color: silver;
}

div {
    color: royalblue;
    background-color: khaki;
}

.ddd {
    color: white;
}

body .hello {
    color: darkorange;
    background-color: maroon;
}

.mm {
    width: 100px;
    /* margin: 30px; */

    background-color: rebeccapurple;
    /* margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 40px; */

    /* padding: 30px; */
    /* padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 45px;
    padding-right: 20px;  */

    /* margin: 10px 30px 50px;
    padding: 10px 30px 50px; */

    margin: 10px 20px 30px 50px;
    padding: 10px 20px 30px 50px;
    /* border: 10px double red; */

    border-bottom: 2px solid red;
    border-top: 2px solid yellow;
    border-left: 2px solid blue;
    border-right: 2px solid green;
    border-radius: 40px;

    border-top-right-radius: 10px;

    border-radius: 20px 35px 45px 25px;

    /* border-bottom: 2px solid red; */
}