.wr {
    height: 600px;
    background-color: orange;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.wr div{
    
    height: 400px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}