body {
    background-color: aqua;
    /* text-align: center; */
}

.tab {
    color: black;
    margin-left: 700px;
    /* text-align: center; */
}

tr#head {
    color: green;
    text-align: center;
}

.tab th {
    background-color: coral;
}

.tab td {
    background-color: darkkhaki;
}

#span {
    background-color: darkgoldenrod;
    text-align: center;
}

.scope {
    /* text-align: center; */
    margin-left: 710px;
    margin-right: 720px;
}